* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f1f2f2;
  font-family: Roboto;
}

section[id] {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.geek {
  background: #d83454;
}

.services {
  background: white;
}

.button {
  background: #d83454;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  bottom: 5%;
  border: 2px solid white;
  color: white;
  font-size: 2em;
  text-decoration: none;
  box-shadow: 1px 1px 5px #888888;
  transform: scale(0.8);
}

.down {
  position: relative;
  top: 10px;
}

.geek-image, .design-image, .build-image, .both-image, .services-image,
 .clients-image, .findus-image, .contact-image {
  transform: scale(0.65);
  display: block;
  background-image: url(assets/labels_D.png);
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.geek-image {
  width: 550px;
  height: 250px;
  background-position: 48% 5%;
  top: 250px;
}

.geek-note {
  position: relative;
  color: white;
  font-size: 1.5em;
  display: block;
  margin: auto;
  top: 250px;
  width: 450px;
  font-weight: 100;
  font-family: Roboto;
}

.design-color {
  color: #d72f50;
}

.design-image {
  width: 700px;
  height: 500px;
  background-position: 49% 16%;
}

.design-note {
  color: #6a6a6b;
  font-size: 30px;
  font-weight: 300;
}

.build-image {
  width: 750px;
  height: 500px;
  background-position: 48% 29%;
}

.both-image {
  width: 750px;
  height: 500px;
  background-position: 50% 42%;
}

/**
 * Services
 */

.web-dev, .web-design, .web-branding, .web-research {
  background-image: url(assets/labels_D.png);
  height: 100%;
  width: 100%;
  transform: scale(0.9);
  position: absolute;
  border-radius: 50%;
}

.web-dev {
  background-position: 17% 56%;
}

.web-design {
  background-position: 39% 56%;
}

.web-branding {
  background-position: 61% 56%;
}

.web-research {
  background-position: 83% 56%;  
}

.services-content h2 {
  text-align: center;
  font-weight: 100;
}

/**
 * Clients
 */
 .column, .column-left, .column-right {
   display: block;
   width: 200px;
   height: 200px;
   margin: 0 10px;
   float: left;
   position: relative;
 }

.column.--middle {
  text-align: center;
}

.column.--right {
  text-align: right;
}

.column {
  text-align: left;
}

.column-right, .column-left {
  text-align: right;
}

.p_gallery, .v_society, .pshe_association {
  background-image: url(assets/labels_D.png);
  height: 100%;
  transform: scale(0.8);
  position: absolute;
 }

.p_gallery {
  background-position: 15% 69%;
  width: 310px;
}

.v_society {
  background-position: 48% 69%;
  width: 330px;
}

.pshe_association {
  background-position: 85% 69%;
  width: 300px;
}

.content {
  display: block;
  padding-top: 15px;
}

.clients-content, .services-content {
  margin: auto;
}

.clients-content .material-icons {
  position: absolute;
  top: 100px;
}

.clients-content::after, .services-content::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


.header{
  font-size: 64px;
  font-weight: 300;
  color: #414042;
}

.findus-image {
  width: 100%;
  height: 300px;
  background-position: 48% 81%;
  transform: scale(1);
}

.input-text, .input-text-area {
  display: block;
  color: #484646;
  width: 50%;
  font-size: 18px;
  font-weight: 300;
  padding: 5px;
  border: 2px solid #bfbdbd;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 15px;
}

.input-text {
  height: 50px;
}

.input-text-area {
  padding: 0;
  height: 150px;
  
}
.contact {
  font-family: 'Droid Serif', serif;
}

.contact .content {
  display: inline-block;
  padding-top: 15px;
  width: 800px;  
}

.contact .design-note {
  font-size: 1.2em;
}
.message {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  background: #d72f50;
  color: white;
  border: 2px solid;
  font-size: 1.2em;
  font-weight: 100;
}
